# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\programacao_local\Python\subtitles_pt_suffix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
